.ui-button {
  display: block;
  height: 48px;
  width: 100%;
  max-width: 230px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: #fff;
  border-radius: 24px;
  cursor: pointer;

  &--primary {
    background-color: rgb(245,85,46);
  }

  &--secondary {
    background-color: white;
    color: rgb(245,85,46);
    border: 1px solid #eee;
  }
}