.create-user {
  height: 100%;
  background-color: #eee;
  padding: 32px;

  &__cancel-button,
  &__create-button {
    margin-top: 16px;
    display: inline-block;
    vertical-align: middle;
  }
  
  &__cancel-button {
    padding-top: 8px;
    margin-right: 8px;
  }

  &__card {
    margin: 32px 0;
  }
}